header {
    font-size: 75px;
    padding-bottom: 30px;
}
h1 {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}
h2 {
    font-size: 18px;
    padding: 5px;
    font-weight: bold;
}
p {
    font-size: 20px;
    padding: 5px;
}

.container {
    max-width: 90%;
  }
#purpleCrystal {
    margin: 20px;
    padding: 10px;
    float: left;
    width: 100px;
    height: auto;
  }
  #pinkCrystal {
    margin: 20px;
    padding: 10px;
    float: left;
    width: 110px;
    height: auto;
  }
  #orangeCrystal {
    margin: 20px;
    padding: 10px;
    float: left;
    width: 110px;
    height: auto;
  }
  #yellowCrystal {
    margin: 20px;
    padding: 10px;
    float: left;
    width: 100px;
    height: auto;
  }